# Understanding Pandas Series and DataFrames - Lab

# Introduction

In this lab, let's get some hands on practice working with data cleanup using Pandas.

## Objectives
You will be able to:

* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

In [66]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [67]:
df = pd.read_csv('turnstile_180901.txt')
print(len(df))
df.head()

197625

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Practice

## Objectives
You will be able to:
* Understand and explain what Pandas Series and DataFrames are and how they differ from dictionaries and lists
* Create Series & DataFrames from dictionaries and lists
* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

# Rename all the columns to lower case

In [68]:
#Your code here
df.columns = df.columns.str.strip()
df = df.rename(columns={'C/A':'c/a','UNIT':'unit','SCP':'scp','STATION':'station','LINENAME':'linename','DIVISION':'division','DATE':'date','TIME':'time','DESC':'desc','ENTRIES':'entries','EXITS':'exits'})
df.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Change the Index to be the Line Names

In [69]:
#Your code here
df = df.set_index('linename')
df.head()

,c/a,unit,scp,station,division,date,time,desc,entries,exits
linename,,,,,,,,,,
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Painstakingly change the index back

In [74]:
# Your code here
df = df.reset_index()
df.head()

,index,linename,c/a,unit,scp,station,division,date,time,desc,entries,exits
0,0,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,1,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,2,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,3,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,4,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

In [122]:
# this cell replaced by a cell using .unique() below
# stations = {} #create empty stations dict
# for index, row in df.iterrows():
#     if row['station'] in stations:
#         pass
#     else:
#         stations[row['station']] = 0
# stations

In [104]:
len(stations)

373

In [137]:
%%time
df['Num_Lines'] = df.station.apply(lambda x: df.groupby(['station'])['linename'].nunique())

KeyboardInterrupt:

In [138]:
temp_dict = df.groupby(['station'])['linename'].nunique()
temp_dict.head(10)
# temp_dict.info
# temp_dict['1 AV']

station
1 AV               1
103 ST             3
103 ST-CORONA      1
104 ST             2
110 ST             1
111 ST             3
116 ST             3
116 ST-COLUMBIA    1
121 ST             1
125 ST             4
Name: linename, dtype: int64

In [146]:
%%time
# count = 0
for station in temp_dict:
#     count += 1
#     if count < 10:
#         print("working on station: " + str(count))
#         if temp_dict[station] > 2:
            df['Num_Lines'] = df.station.apply(lambda x: temp_dict[station])
#             print("done with station: " + str(count))

done with station: 1
done with station: 2
done with station: 3
done with station: 4
done with station: 5
done with station: 6
done with station: 7
done with station: 8
done with station: 9
CPU times: user 23.3 s, sys: 67.6 ms, total: 23.4 s
Wall time: 23.5 s

In [147]:
df.head(20)

,index,linename,c/a,unit,scp,station,division,date,time,desc,entries,exits,Num_Lines
0,0,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184,3
1,1,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188,3
2,2,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229,3
3,3,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314,3
4,4,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384,3
5,5,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,20:00:00,REGULAR,6736562,2283425,3
6,6,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,00:00:00,REGULAR,6736683,2283460,3
7,7,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,04:00:00,REGULAR,6736696,2283461,3
8,8,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,08:00:00,REGULAR,6736705,2283483,3
9,9,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,12:00:00,REGULAR,6736746,2283524,3
10,10,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,16:00:00,REGULAR,6736873,2283587,3
11,11,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,20:00:00,REGULAR,6737067,2283631,3
12,12,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,00:00:00,REGULAR,6737136,2283656,3
13,13,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,04:00:00,REGULAR,6737146,2283658,3
14,14,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,08:00:00,REGULAR,6737169,2283736,3
15,15,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,12:00:00,REGULAR,6737301,2283965,3
16,16,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,16:00:00,REGULAR,6737553,2284025,3
17,17,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,20:00:00,REGULAR,6738257,2284091,3
18,18,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/28/2018,00:00:00,REGULAR,6738430,2284121,3
19,19,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/28/2018,04:00:00,REGULAR,6738442,2284126,3

In [144]:
df = df.drop('Num_Lines', axis=1)

## Create another column 'Num_Lines' that is a count of how many lines pass through a station. Then sort your dataframe by this column in descending order.

In [102]:
%%time
# Your code here

# version 1 - very slow
def count_lines(stations, df):
    station_dict = stations
#     stations = {} #create empty stations dict
#     for index, row in df.iterrows():
#         if row['station'] in stations:
#             pass
#         else:
#             stations[row['station']] = 0
# #     return stations
#     print("stations list complete")

    for station in station_dict:
        print("working on station: " + station)
        lines = [] # create an empty list for linenames
        for index, row in df.iterrows():
            if row['station'] == station:
                if row['linename'] in lines:
                    pass
                else:
                    lines.append(row['linename'])
        station_dict[station] = len(lines)
#       print("station: " + station + " complete.")
        print(station + " station line count stored in dict is: " + str(station_dict[station]))
        if station == "PRINCE ST":
            print(station_dict)
            return
        

#   return stations

   
count_lines(stations, df)

working on station: 59 ST
59 ST station line count stored in dict is: 3
working on station: 5 AV/59 ST
5 AV/59 ST station line count stored in dict is: 1
working on station: 57 ST-7 AV
57 ST-7 AV station line count stored in dict is: 1
working on station: 49 ST
49 ST station line count stored in dict is: 1
working on station: TIMES SQ-42 ST
TIMES SQ-42 ST station line count stored in dict is: 3
working on station: 34 ST-HERALD SQ
34 ST-HERALD SQ station line count stored in dict is: 1
working on station: 28 ST
28 ST station line count stored in dict is: 2
working on station: 23 ST
23 ST station line count stored in dict is: 4
working on station: 14 ST-UNION SQ
14 ST-UNION SQ station line count stored in dict is: 2
working on station: 8 ST-NYU
8 ST-NYU station line count stored in dict is: 1
working on station: PRINCE ST
PRINCE ST station line count stored in dict is: 1
{'59 ST': 3, '5 AV/59 ST': 1, '57 ST-7 AV': 1, '49 ST': 1, 'TIMES SQ-42 ST': 3, '34 ST-HERALD SQ': 1, '28 ST': 2, '23 ST': 4, '14 ST-UNION SQ': 2, '8 ST-NYU': 1, 'PRINCE ST': 1, 'CANAL ST': 0, 'CITY HALL': 0, 'CORTLANDT ST': 0, 'RECTOR ST': 0, 'WHITEHALL S-FRY': 0, 'DELANCEY/ESSEX': 0, 'BOWERY': 0, 'CHAMBERS ST': 0, 'FULTON ST': 0, 'BROAD ST': 0, '7 AV': 0, 'PARK PLACE': 0, 'BOTANIC GARDEN': 0, 'PROSPECT PARK': 0, 'PARKSIDE AV': 0, 'CHURCH AV': 0, 'BEVERLEY ROAD': 0, 'CORTELYOU RD': 0, 'NEWKIRK PLAZA': 0, 'AVENUE H': 0, 'AVENUE J': 0, 'AVENUE M': 0, 'KINGS HWY': 0, 'AVENUE U': 0, 'NECK RD': 0, 'SHEEPSHEAD BAY': 0, 'BRIGHTON BEACH': 0, 'OCEAN PKWY': 0, 'BOROUGH HALL': 0, 'JAY ST-METROTEC': 0, 'DEKALB AV': 0, 'ATL AV-BARCLAY': 0, 'UNION ST': 0, '4AV-9 ST': 0, 'PROSPECT AV': 0, '25 ST': 0, '36 ST': 0, '45 ST': 0, '53 ST': 0, 'BAY RIDGE AV': 0, '77 ST': 0, '86 ST': 0, 'BAY RIDGE-95 ST': 0, '8 AV': 0, 'FT HAMILTON PKY': 0, 'NEW UTRECHT AV': 0, '18 AV': 0, '20 AV': 0, 'BAY PKWY': 0, '9 AV': 0, '50 ST': 0, '55 ST': 0, '71 ST': 0, '79 ST': 0, '25 AV': 0, 'BAY 50 ST': 0, 'CONEY IS-STILLW': 0, 'W 8 ST-AQUARIUM': 0, '6 AV': 0, '3 AV': 0, '1 AV': 0, 'BEDFORD AV': 0, 'LORIMER ST': 0, 'GRAHAM AV': 0, 'GRAND ST': 0, 'MONTROSE AV': 0, 'MORGAN AV': 0, 'JEFFERSON ST': 0, 'MYRTLE-WYCKOFF': 0, 'HALSEY ST': 0, 'WILSON AV': 0, 'BUSHWICK AV': 0, 'ATLANTIC AV': 0, 'SUTTER AV': 0, 'LIVONIA AV': 0, 'NEW LOTS': 0, 'EAST 105 ST': 0, 'CANARSIE-ROCKAW': 0, 'HOWARD BCH JFK': 0, 'JFK JAMAICA CT1': 0, 'MARCY AV': 0, 'HEWES ST': 0, 'FLUSHING AV': 0, 'MYRTLE AV': 0, 'KOSCIUSZKO ST': 0, 'GATES AV': 0, 'CHAUNCEY ST': 0, 'ALABAMA AV': 0, 'VAN SICLEN AV': 0, 'CLEVELAND ST': 0, 'NORWOOD AV': 0, 'CRESCENT ST': 0, 'CYPRESS HILLS': 0, '75 ST-ELDERTS': 0, '85 ST-FOREST PK': 0, 'WOODHAVEN BLVD': 0, '104 ST': 0, '111 ST': 0, '121 ST': 0, 'CENTRAL AV': 0, 'KNICKERBOCKER': 0, 'SENECA AVE': 0, 'FOREST AVE': 0, 'FRESH POND RD': 0, 'METROPOLITAN AV': 0, 'INWOOD-207 ST': 0, 'DYCKMAN ST': 0, '190 ST': 0, '181 ST': 0, '175 ST': 0, '168 ST': 0, '155 ST': 0, '145 ST': 0, '135 ST': 0, '125 ST': 0, '116 ST': 0, '103 ST': 0, '96 ST': 0, '81 ST-MUSEUM': 0, '59 ST COLUMBUS': 0, '42 ST-PORT AUTH': 0, '34 ST-PENN STA': 0, '14 ST': 0, 'W 4 ST-WASH SQ': 0, 'SPRING ST': 0, 'WORLD TRADE CTR': 0, 'HIGH ST': 0, 'HOYT-SCHER': 0, 'LAFAYETTE AV': 0, 'CLINTON-WASH AV': 0, 'FRANKLIN AV': 0, 'NOSTRAND AV': 0, 'KINGSTON-THROOP': 0, 'UTICA AV': 0, 'RALPH AV': 0, 'ROCKAWAY AV': 0, 'BROADWAY JCT': 0, 'LIBERTY AV': 0, 'VAN SICLEN AVE': 0, 'SHEPHERD AV': 0, 'EUCLID AV': 0, 'GRANT AV': 0, '80 ST': 0, '88 ST': 0, 'ROCKAWAY BLVD': 0, 'OZONE PK LEFFRT': 0, 'AQUEDUCT N.COND': 0, 'AQUEDUCT RACETR': 0, 'BROAD CHANNEL': 0, 'BEACH 90 ST': 0, 'BEACH 98 ST': 0, 'BEACH 105 ST': 0, 'ROCKAWAY PARK B': 0, 'BEACH 67 ST': 0, 'BEACH 60 ST': 0, 'BEACH 44 ST': 0, 'BEACH 36 ST': 0, 'BEACH 25 ST': 0, 'FAR ROCKAWAY': 0, '161/YANKEE STAD': 0, '167 ST': 0, '170 ST': 0, 'TREMONT AV': 0, '182-183 STS': 0, 'FORDHAM RD': 0, 'KINGSBRIDGE RD': 0, 'BEDFORD PK BLVD': 0, 'NORWOOD 205 ST': 0, '5 AV/53 ST': 0, 'LEXINGTON AV/53': 0, 'COURT SQ-23 ST': 0, 'QUEENS PLAZA': 0, 'STEINWAY ST': 0, '46 ST': 0, 'NORTHERN BLVD': 0, '65 ST': 0, 'JKSN HT-ROOSVLT': 0, 'ELMHURST AV': 0, 'GRAND-NEWTOWN': 0, '63 DR-REGO PARK': 0, '67 AV': 0, 'FOREST HILLS 71': 0, '75 AV': 0, 'KEW GARDENS': 0, 'BRIARWOOD': 0, 'SUTPHIN BLVD': 0, 'PARSONS BLVD': 0, '169 ST': 0, 'JAMAICA 179 ST': 0, 'COURT SQ': 0, '21 ST': 0, 'GREENPOINT AV': 0, 'NASSAU AV': 0, 'BROADWAY': 0, 'MYRTLE-WILLOUGH': 0, 'BEDFORD-NOSTRAN': 0, 'CLASSON AV': 0, '47-50 STS ROCK': 0, '42 ST-BRYANT PK': 0, "B'WAY-LAFAYETTE": 0, '2 AV': 0, 'EAST BROADWAY': 0, 'YORK ST': 0, 'BERGEN ST': 0, 'CARROLL ST': 0, 'SMITH-9 ST': 0, '4 AV-9 ST': 0, '15 ST-PROSPECT': 0, 'DITMAS AV': 0, 'AVENUE I': 0, 'AVENUE N': 0, 'AVENUE P': 0, 'AVENUE X': 0, 'NEPTUNE AV': 0, 'LEXINGTON AV/63': 0, 'ROOSEVELT ISLND': 0, '21 ST-QNSBRIDGE': 0, 'JAMAICA VAN WK': 0, 'SUTPHIN-ARCHER': 0, 'JAMAICA CENTER': 0, '72 ST-2 AVE': 0, '86 ST-2 AVE': 0, '96 ST-2 AVE': 0, 'ORCHARD BEACH': 0, 'NEWARK HW BMEBE': 0, 'HARRISON': 0, 'JOURNAL SQUARE': 0, 'GROVE STREET': 0, 'EXCHANGE PLACE': 0, 'PAVONIA/NEWPORT': 0, 'CITY / BUS': 0, 'CHRISTOPHER ST': 0, '9TH STREET': 0, '14TH STREET': 0, 'TWENTY THIRD ST': 0, 'THIRTY ST': 0, 'LACKAWANNA': 0, 'THIRTY THIRD ST': 0, 'NEWARK BM BW': 0, 'NEWARK C': 0, 'NEWARK HM HE': 0, 'PATH WTC 2': 0, 'PATH NEW WTC': 0, 'SOUTH FERRY': 0, 'WALL ST': 0, 'FRANKLIN ST': 0, 'HOUSTON ST': 0, '18 ST': 0, '66 ST-LINCOLN': 0, '72 ST': 0, 'CATHEDRAL PKWY': 0, '116 ST-COLUMBIA': 0, '137 ST CITY COL': 0, '157 ST': 0, '191 ST': 0, '207 ST': 0, '215 ST': 0, 'MARBLE HILL-225': 0, '231 ST': 0, '238 ST': 0, 'V.CORTLANDT PK': 0, 'BOWLING GREEN': 0, 'BROOKLYN BRIDGE': 0, 'BLEECKER ST': 0, 'ASTOR PL': 0, '33 ST': 0, 'GRD CNTRL-42 ST': 0, '51 ST': 0, '68ST-HUNTER CO': 0, '110 ST': 0, '138/GRAND CONC': 0, '149/GRAND CONC': 0, 'MT EDEN AV': 0, '176 ST': 0, 'BURNSIDE AV': 0, '183 ST': 0, 'MOSHOLU PKWY': 0, 'WOODLAWN': 0, 'CENTRAL PK N110': 0, 'HARLEM 148 ST': 0, '3 AV-149 ST': 0, 'JACKSON AV': 0, 'INTERVALE AV': 0, 'SIMPSON ST': 0, 'FREEMAN ST': 0, '174 ST': 0, 'WEST FARMS SQ': 0, 'E 180 ST': 0, 'BRONX PARK EAST': 0, 'PELHAM PKWY': 0, 'ALLERTON AV': 0, 'BURKE AV': 0, 'GUN HILL RD': 0, '219 ST': 0, '225 ST': 0, '233 ST': 0, 'NEREID AV': 0, 'WAKEFIELD/241': 0, '3 AV 138 ST': 0, 'BROOK AV': 0, 'CYPRESS AV': 0, "E 143/ST MARY'S": 0, 'E 149 ST': 0, 'LONGWOOD AV': 0, 'HUNTS POINT AV': 0, 'WHITLOCK AV': 0, 'ELDER AV': 0, 'MORISN AV/SNDVW': 0, 'ST LAWRENCE AV': 0, 'PARKCHESTER': 0, 'CASTLE HILL AV': 0, 'ZEREGA AV': 0, 'WESTCHESTER SQ': 0, 'MIDDLETOWN RD': 0, 'BUHRE AV': 0, 'PELHAM BAY PARK': 0, '5 AVE': 0, 'VERNON-JACKSON': 0, 'HUNTERS PT AV': 0, 'QUEENSBORO PLZ': 0, '36 AV': 0, '30 AV': 0, 'ASTORIA BLVD': 0, 'ASTORIA DITMARS': 0, '33 ST-RAWSON ST': 0, '40 ST LOWERY ST': 0, '46 ST BLISS ST': 0, '52 ST': 0, '61 ST WOODSIDE': 0, '69 ST': 0, '74 ST-BROADWAY': 0, '82 ST-JACKSON H': 0, '90 ST-ELMHURST': 0, 'JUNCTION BLVD': 0, '103 ST-CORONA': 0, 'METS-WILLETS PT': 0, 'FLUSHING-MAIN': 0, '34 ST-HUDSON YD': 0, 'CLARK ST': 0, 'HOYT ST': 0, 'NEVINS ST': 0, 'GRAND ARMY PLAZ': 0, 'EASTN PKWY-MUSM': 0, 'KINGSTON AV': 0, 'CROWN HTS-UTICA': 0, 'SUTTER AV-RUTLD': 0, 'SARATOGA AV': 0, 'JUNIUS ST': 0, 'PENNSYLVANIA AV': 0, 'NEW LOTS AV': 0, 'PRESIDENT ST': 0, 'STERLING ST': 0, 'WINTHROP ST': 0, 'BEVERLY RD': 0, 'NEWKIRK AV': 0, 'FLATBUSH AV-B.C': 0, 'MORRIS PARK': 0, 'BAYCHESTER AV': 0, 'EASTCHSTER/DYRE': 0, 'ST. GEORGE': 0, 'TOMPKINSVILLE': 0, 'RIT-ROOSEVELT': 0}
CPU times: user 1min 44s, sys: 543 ms, total: 1min 44s
Wall time: 1min 45s

In [86]:
# version 2 

for station in stations:
    lines = [] # create an empty list for linenames
#     df.loc[df['station'] == station]

    for index, row in df.loc[df['station'] == station]:
        print(row, + " " + index)
        break
        if row[index]['linename'] in lines:
            pass
        else:
            lines.append(row['linename'])
                    
#         df = df.groupby('station')['linename'].nunique()
#         return temp.groupby(['linename']).nunique().reset_index()
lines

        
        
   df['Num_Lines'] = df.groupby(['station'])['linename']..nunique()     
        
        
#         df.loc[df[station] == station] = 0  #use to place line count on each station record
#         df.loc[:, 'station'] = stations
        
        

#         stations[station] = len(lines)
#         print("station: " + station + " complete.")
#         print(station + " line count: " + str(stations[station]))
#     return stations


            


# df['Num_Lines'] = df.LINENAME.map(contains_n)

ValueError: too many values to unpack (expected 2)

## Write a function to clean a column name.

In [ ]:
def clean(col_name):
    cleaned = #Your code here; whatever you want to do to col_name. Hint: think back to str methods.
    return cleaned

In [ ]:
#This is a list comprehension. It applies your clean function to every item in the list.
#We then reassign that to df.columns
#You shouldn't have to change anything here.
#Your function above should work appropriately here.
df.columns = [clean(col) for col in df.columns]

In [ ]:
#Checking the output, we can see the results.
df.columns

## Compare subway traffic by day of the week. Display this as a graph.

In [ ]:
#Your code here

## Is there more subway traffic on a weekend or a weekday?    Be specific in comparing magnitudes.

In [ ]:
#Your code here

# Drop a couple of columns

In [ ]:
# Your code here